.productDetail-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #d6d0c8;

  .product-gallery {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    //transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;

    img {
      width: 70%;
    }
  }

  .product-gallery.show {
    opacity: 1;
    transform: translateY(0);
  }

  .product-essential {
    width: 40%;
    font-family: "GT Flexa Lt";
    padding: 70px 10px;

    .product-header {
      font-family: "Windsor Pro", sans-serif;

      .product-title {
        font-size: 3rem;
        letter-spacing: 2px;
      }
    }

    .product-quantity-label {
      margin: 10px 0px;
    }

    .product-quantity {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 20%;
      border-bottom: 1px solid #352f2b;

      button {
        display: flex;
        align-items: center;
      }
    }

    .addToCart-button {
      background-color: black;
      color: $main_color;
      padding: 15px;
      width: 40%;
      margin-top: 30px;
    }

  }
}